/*body {
	background: rgba(200, 200, 200, 1);
	background-color: white;
	margin: 0;
	padding: 0;
	color: #333;
}*/
body {
  background: #FFF;
  margin: 0;
  padding: 0;
  color: #333;
}

#d{    
	
	/*height: 390px;
    background-color: white;
    width: 511px;
    float: left;
   */
   width: 50%; 
  /* height: 540px*/; 
   background-color: white; 
   float:left;
}
#l{    
	
	/*height: 390px;
    background-color: yellow;
    width: 511px;
    float: left;*/
    width: 50%; 
    /*height: 540px; */
    background-color: white; 
    float:right;
  
}
#side{
	width: 50%;    
	/*width: 515px;*/
	height: 500px;
    background-color: white;
    
    float: right;
    left: 0;
    right: 0;
    
    margin: auto;
}
h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;	
	padding-right: 15px;
	padding-left: 15px;
}
#pad{
	margin-top: 3px;
	margin-right: 15px;
	margin-left: 15px;

}
ul{
	padding:0;
}

.td_width{
	width: 70px;
	height: 10px;

	overflow: hidden;
}
.tr_height{
	height: 10px;
	overflow: hidden;
}
.super{
	/*background: rgba(240, 240, 240, 1);*/
	background-color: white; 
	width: 98%;
	margin: 0 auto;
	min-height: 500px;
}

header{
	/*background: url(/static/images/nav_bg_repeat.jpg);*/
	background-repeat: repeat-x;
	background-color: #257C1E;
	background-position: top left;
	color: #FFF;
	height: 55px;
	width: 100%;
	margin: 0 auto;
}
footer{
	/*background: url(/static/images/nav_bg_repeat.jpg);*/
	background-repeat: repeat-x;
	background-position: top left;
	background-color: #257C1E;
	color: #FFF;
	padding: 0px;
	height: 55px;
	width: 100%;
	padding-top:15px;
	margin: 0 auto;
}
.content{
	margin: 0px;
	padding: 20px;
	height: 50px;
}

.left-content{
	/*background: rgba(255, 0, 0, 1);*/
	width: 450px;
	padding: 10px;
}
.right-content{
	background:rgba(0,0,0,.1);
	padding: 10px;
	vertical-align:top;
	width: 565px;
	margin-top: 50px;
}

.fixed,
table.fixed { table-layout:fixed; }

.overflow-sm,
tr.overflow-sm,
th.overflow-sm,
td.overflow-sm {
  overflow: hidden;
}
th[data-sort]{
      cursor:pointer;
    }
td.advance{
	width: 110px;
}
/*th{
	background-color: #dff0d8;
	
}*/
.table-striped-green > tbody > tr:nth-child(odd) > td,
.table-striped-green > tbody > tr:nth-child(odd) > th {
  background-color: #dff0d8;
}

.table-striped-green > tbody > tr:nth-child(even) > td,
.table-striped-green > tbody > tr:nth-child(even) > th {
  background-color: #f9f9f9;
}

.description { max-width: 500px; }
.subject { max-width: 400px; }
.date_created { max-width: 180px; }
.age  { max-width: 100px; }
.user  { max-width: 200px; }
div.concat{ overflow: hidden; -ms-text-overflow: ellipsis; -o-text-overflow: ellipsis; text-overflow: ellipsis; white-space: nowrap; width: inherit; }

.headerSortDown:after,
.headerSortUp:after{
    content: ' ';
    position: relative;
    left: 10px;
    border: 8px solid transparent;
}
.headerSortDown:after{
    top: 10px;
    border-top-color: silver;
}
.headerSortUp:after{
    bottom: 15px;
    border-bottom-color: silver;
}
/*th, a{
	 background-color: Fuchsia;
}

*/

  
.navbar-success {
  /*background-color: #222;
  border-color: #080808;*/
 background-color: #257C1E;
  /*background-color: #187016;*/
  border-color: #4cae4c;

}

.navbar-success .navbar-brand {
  color: #dff0d8;
}
.navbar-success .navbar-brand:hover,
.navbar-success .navbar-brand:focus {
  color: #fff;
  background-color: transparent;
}
.navbar-success .navbar-text {
  color: #fff;
}
.navbar-success .navbar-nav > li > a {
  color: #dff0d8;
}
.navbar-success .navbar-nav > li > a:hover,
.navbar-success .navbar-nav > li > a:focus {
  color: #FFFFFF;
  background-color: #187016;
  /*background-color: transparent;*/
}
.navbar-success .navbar-nav > .active > a,
.navbar-success .navbar-nav > .active > a:hover,
.navbar-success .navbar-nav > .active > a:focus {
  color: #D6F00E;
  background-color: #187016;
}
.navbar-success .navbar-nav > .disabled > a,
.navbar-success .navbar-nav > .disabled > a:hover,
.navbar-success .navbar-nav > .disabled > a:focus {
  color: #fff;
  background-color: transparent;
}
.navbar-success .navbar-toggle {
  border-color: #fff;
}
.navbar-success .navbar-toggle:hover,
.navbar-success .navbar-toggle:focus {
  background-color: #dff0d8;
}
.navbar-success .navbar-toggle .icon-bar {
  background-color: #fff;
}
.navbar-success .navbar-collapse,
.navbar-success .navbar-form {
  border-color: #101010;
}
.navbar-success .navbar-nav > .open > a,
.navbar-success .navbar-nav > .open > a:hover,
.navbar-success .navbar-nav > .open > a:focus {
  color: #fff;
  background-color: #080808;
}
@media (max-width: 767px) {
  .navbar-success .navbar-nav .open .dropdown-menu > .dropdown-header {
    border-color: #080808;
  }
  .navbar-success .navbar-nav .open .dropdown-menu .divider {
    background-color: #080808;
  }
  .navbar-success .navbar-nav .open .dropdown-menu > li > a {
    color: #fff;
  }
  .navbar-success .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-success .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #fff;
    background-color: transparent;
  }
  .navbar-success .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-success .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-success .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #fff;
    background-color: #080808;
  }
  .navbar-success .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-success .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-success .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #444;
    background-color: transparent;
  }
}
.navbar-success .navbar-link {
  color: #999;
}
.navbar-success .navbar-link:hover {
  color: #fff;
}
