body {
	background: rgba(200, 200, 200, 1);
	margin: 0;
	padding: 0;
	color: #333;
}
#d{    
	
	/*height: 390px;
    background-color: white;
    width: 511px;
    float: left;
   */
   width: 50%; 
  /* height: 540px*/; 
   background-color: white; 
   float:left;
}
#l{    
	
	/*height: 390px;
    background-color: yellow;
    width: 511px;
    float: left;*/
    width: 50%; 
    /*height: 540px; */
    background-color: white; 
    float:right;
  
}
#side{    
	width: 515px;
	height: 500px;
    background-color: white;
    
    float: right;
    left: 0;
    right: 0;
    
    margin: auto;
}
h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;	
	padding-right: 15px;
	padding-left: 15px;
}
#pad{
	margin-top: 3px;
	margin-right: 15px;
	margin-left: 15px;

}
ul{
	padding:0;
}

.td_width{
	width: 70px;
	height: 10px;

	overflow: hidden;
}
.tr_height{
	height: 10px;
	overflow: hidden;
}
.super{
	/*background: rgba(240, 240, 240, 1);*/
	background-color: white; 
	width: 1024px;
	margin: 0 auto;
	min-height: 500px;
}

header{
	background: url(/static/images/nav_bg_repeat.jpg);
	background-repeat: repeat-x;
	background-position: top left;
	color: #FFF;
	height: 47px;
	width: 1024px;
	margin: 0 auto;
}
footer{
	background: url(/static/images/nav_bg_repeat.jpg);
	background-repeat: repeat-x;
	background-position: top left;
	color: #FFF;
	padding: 0px;
	height: 47px;
	width: 1024px;
	padding-top:15px;
	margin: 0 auto;
}
.content{
	margin: 0px;
	padding: 20px;
	height: 50px;
}

.left-content{
	/*background: rgba(255, 0, 0, 1);*/
	width: 450px;
	padding: 10px;
}
.right-content{
	background:rgba(0,0,0,.1);
	padding: 10px;
	vertical-align:top;
	width: 565px;
	margin-top: 50px;
}

.fixed,
table.fixed { table-layout:fixed; }

.overflow-sm,
tr.overflow-sm,
th.overflow-sm,
td.overflow-sm {
  overflow: hidden;
}

.table-striped-green > tbody > tr:nth-child(odd) > td,
.table-striped-green > tbody > tr:nth-child(odd) > th {
  background-color: #dff0d8;
}


.table-striped-green > tbody > tr:nth-child(even) > td,
.table-striped-green > tbody > tr:nth-child(even) > th {
  background-color: #f9f9f9;
}

.description { max-width: 500px; }
.subject { max-width: 280px; }
.date_created { max-width: 250px; }
.age  { max-width: 150px; }
.user  { max-width: 230px; }
div.concat{ overflow: hidden; -ms-text-overflow: ellipsis; -o-text-overflow: ellipsis; text-overflow: ellipsis; white-space: nowrap; width: inherit; }

/*th, a{
	 background-color: Fuchsia;
}

*/
