<div id="l">
		<!-- List of uploaded documents -->
		<br>
		{% if attachments %}
			<div style="overflow: auto; height: 260px;">
			{% for attachment in attachments %}
				<li ><a href="{{ attachment.docfile.url }}">{{ attachment.name }}  </a> uploaded on {{attachment.created}} by {{attachment.user.first_name}} {{attachment.user.last_name}} </li>
			{% endfor %}
			</div>
		{% else %}
			<p>No attachments.</p>
		{% endif %}

		<form  action="/ticketdetailed/{{ticket.id}}/upload/" method="POST" enctype="multipart/form-data"> {% csrf_token %}

				{{ form.docfile.errors }}
				{{ form.docfile }}
			<br>
			<input class="btn btn-success" type="submit" value="Upload" />
		</form>

</div>
