
    <table  id='com_list' style="margin-right: 40px; margin-left: 40px;">
      {% for comment in Comment %}
        <tr><td>&nbsp;</td></tr>
        <tr>
            <td> <font color="#0747E4">{{comment.user.first_name}}&nbsp;{{comment.user.last_name}} </font> <font style="float: right;">
            {% ifequal comment.created.year datetime.year%}
              {% ifequal comment.created|date:'M d'  datetime|date:'M d'%}
                  {{comment.created|timesince}} ago
              {% else %}
                  {% ifequal comment.created|date:'a' 'a.m.' %}
                      {{comment.created|date:'M d'}} at {{comment.created|date:'h:m'}}am     
                  {% else %}
                      {{comment.created|date:'M d'}} at {{comment.created|date:'h:m'}}pm
                  {% endifequal %}
              {% endifequal %}             

            {% else %}
                  {% ifequal comment.created|date:'a' 'a.m.' %}
                      {{comment.created.date}} at {{comment.created|date:'h:m'}}am     
                  {% else %}
                      {{comment.created.date}} at {{comment.created|date:'h:m'}}am  
                  {% endifequal %}
                      
            {% endifequal %}
            </font>
            </td>
        </tr>
        <tr>
            <td><pre style="width: 600px;"> {{comment.comment}}</pre></td>

        </tr>
        

      {% endfor %}      
    </table>