{% extends './ticket/base.html' %}

{% block content %}

<div >
  <table  class="table table-hover table-condensed table-striped-green ">
    <thead>
        <tr >
            <th data-sort="string" class="col-xs-3 col-sm-1">Subject</th>
            <th data-sort="string" class="col-xs-3 col-sm-1 ">Category</th>
            <th data-sort="string" class="col-xs-3 col-sm-1 ">Assigned User</th>
            <th data-sort="string" class="col-xs-3 col-sm-1 ">Requester</th>
            <th class="col-xs-3 col-sm-1 ">Created</th>
            <th data-sort="int" class="col-xs-3 col-sm-1 ">Age</th>
        </tr>
    </thead>
        {% if state == 'open_status' %}
            {% include 'ticket/ticket_open_status.html' %}
        {% elif state == 'all_tickets' %}
            {% include 'ticket/all_tickets.html' %}
        {% elif state == 'closed_tickets' %}
            {% include 'ticket/closed_tickets.html' %}
        {% endif %}
        
  </table>
</div>

{% endblock %}