   <tbody>
        {% for ticket in Ticket %}
           {% if ticket.status == True and ticket.assigned_id == user.id %}
            <tr >
                <td><div class="concat subject">
                    <a href="/ticketdetailed/{{ticket.id}}/">{{ ticket.subject }}</a>
                    </div>
                </td>
                <td>
                <div class="concat age" >
                    <a href="#">{{ticket.category}}</a>
                </div>
                </td>
                <td>
                <div class="concat user">
                    <a href="/assign_tickets/{{ticket.assigned.id}}/"> {{ticket.assigned.get_full_name}}</a>
                </div>
                </td>
                <td>
                <div class="concat user" >
                    <a href="/requester_tickets/{{ticket.requester.id}}/"> {{ticket.requester.get_full_name}}</a>
                </div>
                </td>
                <td>
                <div class="concat date_created">
                    <a href="#">
                        {% ifequal ticket.created.year datetime.year%}
                            {% ifequal ticket.created|date:'M d'  datetime|date:'M d'%}
                                {{ticket.created|timesince}} ago
                            {% else %}
                                {% ifequal ticket.created|date:'a' 'a.m.' %}
                                    {{ticket.created|date:'M d'}} at {{ticket.created|date:'h:m'}}am
                                {% else %}
                                    {{ticket.created|date:'M d'}} at {{ticket.created|date:'h:m'}}pm
                                {% endifequal %}
                            {% endifequal %}

                        {% else %}
                            {% ifequal ticket.created|date:'a' 'a.m.' %}
                                {{ticket.created.date}} at {{ticket.created|date:'h:m'}}am
                            {% else %}
                                {{ticket.created.date}} at {{ticket.created|date:'h:m'}}am
                            {% endifequal %}

                        {% endifequal %}
                    </a>
                </div>
                </td>
                <td ><div class="concat age" >
                    {% if ticket.age == 0 %}
                        {{' '}}
                    {%elif ticket.age <= 1 %}
                        {{ticket.age}} day
                    {% else %}
                        {{ticket.age}} days
                    {% endif %}
                </div>
                </td>
            </tr>
            {% endif %}
        {% endfor %}
    </tbody>
