{% extends './ticket/base.html' %}

{% block content %}
<div style="width: 220px; height: 220px;left:0; right:0; margin: auto;">
	 <img src="{{MEDIA_URL}}profile_pics/developer/ras.JPG" width="220px" height="220px">

</div>

<div id="pad">
		<ul  class="plate" type="none">
			<li>Name: <b>Elmer V. Rasuman Jr</b></li>
			<li>Position:<b> OJT Programmer</b></li>
			<li>Address: <b>Lumbac-Bacayawan, Lumba-bayabao, Lanao del Sur</b></li>
			<li>Birth of Place: <b>Cagayan de Oro City</b></li>
			<li>Birth Date: <b>February 15, 1988</b></li>
	  	    <li>Course: <b>B.S Computer Science</b></li>

	    </ul>
</div>		   		


 
{% endblock %}