{% extends 'base.html' %}
{% load bootstrap3 %}

{%block title%}
	{{system_name}} - Log In
{%endblock%}


{%block content%}
<br>
<div  style=" float: left; width: 30%; ">
  <content style="height:250px">
    <div class="container" style="height:250px; float: left; ">
        <div class="col-sm-4">
          <div class="panel panel-default">
            <div class="panel-body">
              <h1>Login</h1>
              <form method="post" action="{{action_url}}">
                {% csrf_token %}
                {% bootstrap_form form %}
                {% buttons %}
                  <button type="submit" class="btn btn-primary btn-small col-sm-12">LogIn</button>
                {%endbuttons%}
              </form>
            </div>
          </div>
        </div>
       
    </div>
     
    </content>
<!--    <div style="float: left;">
        	 <h1>Please log in to continue</h1>
        <h3>You cannot use the {{system_name}} without logging in.</h3>  
        </div> -->
</div>
<div  >
	<br>
    <div>
    	<img src="/static/images/19th_logo.jpg">
    </div>
</div>
       	

{%endblock%}
