{% extends 'base.html' %}
{% load bootstrap3 %}

{% block title %}
	{{system_name}} - Home
{% endblock %}

{% block css %}
{% endblock %}

{% block superdiv_style %}
{%endblock%}

{% block header %}
	<nav class="navbar navbar-success"  role="navigation" >
	<div class="container-fluid">
		
		<div class="navbar-header">
			<a  class="navbar-brand" href="#"> {{system_name}}</a>
		</div>
	
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
			{% block navbar_li %}{% endblock %}
			</ul>
			<form class="navbar-form navbar-left" role="search">{% csrf_token %}
			 {% if state == 'open_status' %}
            	<input type="hidden" id="state" name="state" value="open_status">
       		 {% elif state == 'all_tickets' %}
            	 <input type="hidden" id="state" name="state" value="all_tickets">
        	 {% elif state == 'closed_tickets' %}
             	<input type="hidden" id="state" name="state" value="closed_tickets">
        	 {% endif %}    
        	 {% if quick_search %}
        		<div class="form-group">
          		<input type="text" class="form-control" name="search" value="" id="id_search" placeholder="Search"><span class="loading">Loading...</span>
       			 </div>
       		 {% endif %}
        		
     		 </form>
			<ul class="nav navbar-nav navbar-right">
				<li><a href="/profile/{{user.id}}/" class="navbar-link"> <img style="width: 20px; height: 20px; " src="{{MEDIA_URL}}{{employee.image_path}}"> {{ user.get_full_name }} </a></li>
				<li>
					<div class="btn-group">
						<button type="button" class="btn btn-inverse navbar-btn dropdown-toggle" data-toggle="dropdown">
							<span class="glyphicon glyphicon-cog"></span>
						</button>
						<ul class="dropdown-menu">
							<li><a href="#">Settings</a></li>
							<li><a href="/profile/{{user.id}}/" >Profile</a></li>
							<li><a href="/change_password">Change Password</a></li>
							<li><a href="about">About the Developer</a></li>
							<li class="divider"></li>
							<li>     
							  
								<a href="/logout/">Logout</a>
							  
      						</li>
						</ul>
					</div>
				</li>
			</ul>
		</div><!-- /.navbar-collapse -->
	</div><!-- /.container-fluid -->
</nav>
{% endblock %}
